/* CSS Document */
<style>
body{
	font-size:20px;
	
}
#khung{
	width:350px;
	margin-left:500px;
	margin-top:20px;
	background:#787474;
	border:1px solid #CCCCCC;
	border-radius:5px;
	height:180px;
	color:#F4EEEE;
	
	
}
input{
	line-height:20px;
}
input .dangnhap{
	line-height:30px;
}
.a{
	border-collapse:collapse;	
}
</style>

#khungab{
	margin-left:500px;
	margin-top:20px;
		border:1px solid #CCCCCC;
}
